### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

/out/**
/.idea/**
/src/Lesson1/**
/src/Lesson2/**
/src/Lesson4/BonusHWLesson4.java
/src/Lesson4/BonusHW2Lesson4.java
/src/Lesson5/BonusHW1Lesson5.java
/src/Lesson5/BonusHW2Lesson5.java
/src/Lesson5/BonusHW3Lesson5.java
/src/Lesson5/BonusHW4Lesson5.java
/src/Lesson6/notes.java
/src/Lesson6/BonusHW1Lesson6.java
/src/Lesson6/BonusHW2Lesson6.java

