### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

/out/**
/.idea/**
/src/Lesson1/**
/src/Lesson2/**
/src/Lesson4/BonusHWLesson4.java
/src/Lesson4/BonusHW2Lesson4.java
/src/Lesson5/BonusHW1Lesson5.java
/src/Lesson5/BonusHW2Lesson5.java
/src/Lesson5/BonusHW3Lesson5.java
/src/Lesson5/BonusHW4Lesson5.java
/src/Lesson6/notes.java
/src/Lesson6/BonusHW1Lesson6.java
/src/Lesson6/BonusHW2Lesson6.java
/src/Lesson7/Notes.java
/src/Lesson7/BonusHW1Lesson7.java
/src/Lesson7/BonusHW2Lesson7.java
/src/Lesson7/BonusHW3Lesson7.java
/src/Lesson7/BonusHW4Lesson7.java
/src/Lesson7/OptimizedApp.java
/src/Lesson7/BonusHW5Lesson7.java
/src/Lesson8/BubbleSort.java
/src/Lesson8/NotesLesson7.java
/src/Lesson8/InsertionSort.java
/src/Lesson8/InsertionSortClean.java
/src/Lesson8/BinarySearch.java
/src/Lesson8/SelectionSort.java
/src/Lesson8/SelectionSortClean.java
/src/Lesson8/LinearSearch.java
/src/Lesson9/NotHW9.java
/src/Lesson9/BonusHW1Lesson9.java
/src/Lesson9/BonusHW2Lesson9.java
/src/Lesson10/NotesLesson10.java
/src/Lesson14/NotesL14.java
/src/Lesson14/HW14V0.java




